workflows/n8n_careergate.json
{
    "name": "CareerGate Job Automation",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "python3 /path/to/your/scripts/job_scraper.py"
            },
            "name": "Run Scraper",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Parse the JSON output from the Python script\nconst data = JSON.parse(items[0].json.stdout);\nreturn data.map(job => ({ json: job }));"
            },
            "name": "Parse Output",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "prompt": "Create a catchy social media post (Twitter/LinkedIn style) for this job opening. extracting key benefits.\n\nJob Title: {{$node[\"Parse Output\"].json[\"title\"]}}\nLocation: {{$node[\"Parse Output\"].json[\"location\"]}}\nDescription: {{$node[\"Parse Output\"].json[\"description\"]}}"
            },
            "name": "AI Generate Post",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "content": "Placeholder for Image Generation (Bannerbear/Canva)",
                "height": 200,
                "width": 400
            },
            "name": "Generate Image",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "content": "Placeholder for Social Posting (LinkedIn/Twitter/Facebook)",
                "height": 200,
                "width": 400
            },
            "name": "Post to Social",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1050,
                450
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Run Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Scraper": {
            "main": [
                [
                    {
                        "node": "Parse Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Output": {
            "main": [
                [
                    {
                        "node": "AI Generate Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}